@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
.Converter {
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    width: 800px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.block {
    input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 3rem;
        font-weight: bold;
        padding: 20px 20px;
        letter-spacing: 1.3px;
        outline: none;
        margin-top: 20px;
        border-radius: 5px;
        width: 100%;
    }
}

.currencies {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;

    li {
        display: inline-flex;
        padding: 10px 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        cursor: pointer;
        justify-content: center;
        flex: 1;
        transition: .3s linear;
        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &.active {
            background-color: #16b67f;
            color: #fff;
        }

        &:last-of-type {
            display: inline-flex;
            align-items: center;
            flex: 0 0 50px;
            border-right: 0;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}
.dropdown-valute{
   left: 30px;
    display: flex;
    position: absolute;
    background-color: #FFFFFF;
    max-height: 400px;
    max-width: 740px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;

    &.show{
        opacity: 1;
        visibility: visible;
    }
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background: #FFFFFF;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #00ADB5;
        border-radius: 20px;
    }
}
.item-valute{
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.item-valute:hover{
    background-color: #16B67F;
    color: #FFFFFF;
}
.currency-list {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 33.33%;
}
.btn-more-valute{

    transition: .3s linear;

    &.active{
        background-color: #16b67f;
        fill: #FFFFFF;
    }
}